:root,
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #4e515d;
    color: white;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.actions a {
    color: white;
    background-color: rgb(1, 76, 173);
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 2rem 8rem;
    width: fit-content;
    margin: 2rem;
    text-align: center;
}

.actions a img {
    margin: auto;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

nav-top {
    position: fixed;
    top: 0;
    width: 100%;
}

catalogue-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem;
}

.modal {
    content: '';
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    box-shadow: 0px 0px 29px 3px rgba(0, 0, 0, 0.75);
    border-radius: 2rem;
    background-color: #3c3f47;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.modal-content * {
    margin: auto;
}

button,
input,
select {
    color: white;
    background-color: rgb(41 42 46);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
    min-width: 8rem;
    margin: 0.5rem;
    border: none;
}

#login {
    float: right;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    margin-left: 1.5rem;
    width: 21rem;
    font-size: 2rem;
}

select {
    border-right: solid 0.25rem rgb(41 42 46);
}

.admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    text-align: center;
}

.admin .requested div,
.admin .expired div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #222;
}
