<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Item</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    </head>
    <body>
        <script type="module" src="/static/index.mjs"></script>
        <nav-top></nav-top>
        <div style="height: 3.8rem"></div>

        <div class="modal">
            <div class="modal-content">
                <video
                    id="video"
                    width="320"
                    height="240"
                    autoplay
                    style="display: block; padding-bottom: 1rem"
                ></video>
                <canvas id="canvas" width="320" height="240" hidden></canvas>
                <button id="camera">Take photo</button>
                <script>
                    let camera_button = document.querySelector('#camera');
                    let video = document.querySelector('#video');

                    navigator.mediaDevices
                        .getUserMedia({ video: true })
                        .catch((err) => {
                            console.log(err);
                            alert('Camera not available');
                            window.location = '/admin';
                        })
                        .then((stream) => {
                            video.srcObject = stream;
                            return video.play();
                        })
                        .then(() => {
                            camera_button.disabled = false;
                            camera_button.onclick = (e) => {
                                takeASnap().then((a) => {
                                    var file = new File([a], 'img.jpg', {
                                        type: 'image/jpeg',
                                        lastModified: new Date().getTime(),
                                    });

                                    var container = new DataTransfer();
                                    container.items.add(file);
                                    document.querySelector('#image').files =
                                        container.files;
                                    document.querySelector(
                                        '.modal'
                                    ).style.display = 'none';
                                });
                            };
                        });

                    function takeASnap() {
                        const canvas = document.querySelector('#canvas');
                        const ctx = canvas.getContext('2d');
                        canvas.width = video.videoWidth;
                        canvas.height = video.videoHeight;
                        ctx.drawImage(video, 0, 0);
                        return new Promise((res, rej) => {
                            canvas.toBlob(res, 'image/jpeg');
                        });
                    }
                </script>
            </div>
        </div>

        <form action="/add" method="post" enctype="multipart/form-data">
            <label for="title">Title: </label>
            <select title="title" name="title" id="title">
                {% for title in titles %}
                    <option value="{{ title }}">{{ title }}</option>
                {% endfor %}
            </select>
            <label for="category">Category: </label>
            <select title="category" name="category" id="category">
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            <label for="colour">Colour: </label>
            <select title="colour" name="colour" id="colour">
                {% for colour in colours %}
                    <option value="{{ colour }}">{{ colour }}</option>
                {% endfor %}
            </select>
            <button
                type="button"
                onclick="document.querySelector('.modal').style.display = 'block'"
            >
                Add image
            </button>
            <input name="image" id="image" type="file" hidden />
            <label for="location">Location: </label>
            <select title="location" name="location" id="location">
                {% for location in locations %}
                    <option value="{{ location }}">{{ location }}</option>
                {% endfor %}
            </select>
            <label for="store">Store: </label>
            <input
                value="1"
                type="number"
                name="store"
                placeholder="store"
                required
            />

            <button type="submit">Add item</button>
        </form>
    </body>
</html>
