<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <script type="module" src="/static/index.mjs"></script>
    <nav-top></nav-top>
    <catalogue-item
        id="{{ id }}"
        data="{{ json }}"
    ></catalogue-item>
    <a href="mailto:lostproperty@strs.org?subject=Item%20Request&body=I%20would%20like%20to%20request%20item%20{{ id }}"><img style="height: 1em;" src="./static/icons/request.svg"></img> Request Item</a>
</body>
</html>