<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Settings</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    </head>
    <body>
        <script type="module" src="/static/index.mjs"></script>
        <nav-top></nav-top>
        <div style="height: 3.8rem"></div>

        <form action="/settings" method="post">
            <label for="table">Field: </label>
            <select name="table" id="table">
                <option value="title">Title</option>
                <option value="location">Room</option>
            </select>

            <label for="value">Value: </label>
            <input type="text" name="value" id="value" />

            <button
                type="submit"
                onclick="for (var input of this.parentElement.querySelectorAll('input')) { input.value = input.value.charAt(0).toUpperCase() + input.value.slice(1) }"
            >
                Add
            </button>
        </form>
    </body>
</html>
